<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.framework.yison.module_common">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity android:name="com.framework.yison.module_common.activity.CommonMainActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.TagFlowActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.AlertViewDemoActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.HoverItemActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.DragBallActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.RatingBarActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.PopupWindowActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.MyAccountActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.VideoCompressActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.PickerViewActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.JsonDataActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.PictureSelectorActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.KProgressHudActivity">
        </activity>
        <activity android:name="com.framework.yison.module_common.activity.TipDialogActivity">
        </activity>
        <activity android:name="com.framework.yison.module_common.activity.EmptyLayoutActivity">
        </activity>
        <activity android:name="com.framework.yison.module_common.activity.ZxingActivity">
        </activity>
        <activity android:name="com.framework.yison.module_common.activity.zxing.SecondActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.zxing.ThreeActivity"/>
        <activity android:name="com.framework.yison.module_common.activity.HeaderListActivity">
        </activity>
    </application>

</manifest>